extends ../../../layout/main/main.pug

block links
    link(rel="stylesheet", href="./editpassword.sass")
block main
    -
        let buttons = [
            {name: 'Старый пароль', inputName: 'oldPassword'},
            {name: 'Новый пароль', inputName: 'newPassword'},
            {name: 'Повторите новый пароль', inputName: 'newPassword'},
        ]
    .container.container_flex
        a.button(href="../general/general.pug")
            div
        .display
            section.name-avatar
                div
            section.user-info
                each button in buttons
                    label
                        span= button.name
                        input(type="password", name=button.inputName placeholder='')
            a.button.button_prime(href="../general/general.pug")
                span Сохранить