extends ../../../layout/main/main.pug

block links
    link(rel="stylesheet", href="./editinfo.sass")
block main
    .container.container_flex
        a.button(href="../general/general.pug")
            div
        .display
            section.name-avatar
                div
            section.user-info
                each line in personalInfoToEdit
                    label
                        span= line.name
                        input(type="text", placeholder=line.val)
            a.button.button_prime(href="../general/general.pug")
                span Сохранить